$md-deepblue: (
  50 : #e4e7ea,
  100 : #bbc3c9,
  200 : #8e9ba6,
  300 : #617282,
  400 : #3f5467,
  500 : #1d364c,
  600 : #1a3045,
  700 : #15293c,
  800 : #112233,
  900 : #0a1624,
  A100 : #62a4ff,
  A200 : #2f86ff,
  A400 : #006afb,
  A700 : #005fe1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

