/* For use in src/lib/core/theming/_palette.scss */
$md-wrikeblue: (
  50 : #eaf2fe,
  100 : #c9defd,
  200 : #a6c8fb,
  300 : #82b2f9,
  400 : #67a2f8,
  500 : #4c91f7,
  600 : #4589f6,
  700 : #3c7ef5,
  800 : #3374f3,
  900 : #2462f1,
  A100 : #ffffff,
  A200 : #f7f9ff,
  A400 : #c4d5ff,
  A700 : #abc2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

